@model List<Demo.Controllers.FeaturedMenuItemVM>
@using System.Globalization;
@{
    ViewBag.Title = "Welcome to Food Ordering System";
}
<div class="jumbotron text-center">
    <p>Order your favorite meals for in-house dining with ease!</p>
    <a href="/MenuItem" class="btn btn-success btn-lg">Browse Menu</a>
</div>

<h3 class="mt-5">Featured Menu</h3>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="@item.Image" class="card-img-top" alt="@item.Name" style="height:180px;object-fit:cover;">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                </div>
                <div class="card-footer">
                    <span class="fw-bold">@item.Price.ToString("C", new CultureInfo("en-MY"))</span>
                </div>
            </div>
        </div>
    }
</div>
