@inject DB db

@{
    var user = db.Users.FirstOrDefault(); // gets the first user
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="/css/pager.css">
    <link rel="stylesheet" href="/css/app.css" asp-append-version="true">
    @RenderSection("head", false)
</head>
<body>
    <div class="info">@Html.Raw(TempData["Info"])</div>

    <header>
        <h1><a href="/">Food Ordering System</a></h1>
        @* User email and role *@
        @if (User.Identity!.IsAuthenticated)
        {
            <div>
                @user.Name |
                @(User.IsInRole("Admin")  ? "Admin"  : "")
                @(User.IsInRole("Member") ? "Member" : "")
            </div>
        }
        @* Member 

        *@
        @if (User.IsInRole("Member"))
        {
            var member = db.Members.Find(User.Identity!.Name);
            if (member != null && !string.IsNullOrEmpty(member.PhotoURL))
            {
                <img src="/photos/@member.PhotoURL" />
            }
        }

    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/MenuItem">Menu</a>
        @if (User.IsInRole("Member"))
        {
            <a href="/Cart">Cart</a>
            <a href="/Cart/History">My Orders</a>
        }
        @if (User.IsInRole("Admin"))
        {
            <a href="/MenuItem/Index">Manage Menu Items</a>
            <a href="/Category/Index">Manage Categories</a>
        }
        <div></div>
        @if (User.Identity!.IsAuthenticated)
        {
            <form asp-controller="Account" asp-action="Logout" method="post" style="display:inline">
                <button type="submit">Logout</button>
            </form>
            <a href="/Account/UpdatePassword">Update Password</a>
        }
        else
        {
            <a href="/Account/Login">Login</a>
            <a href="/Account/Register">Register</a>
            <a href="/Account/ResetPassword">Reset Password</a>
        }
        @if (User.IsInRole("Member"))
        {
            <a href="/Account/UpdateProfile">Update Profile</a>
        }
    </nav>

    <main>
        <h1>@ViewBag.Title</h1>
        @RenderBody()
    </main>

    <footer>
        Developed by <b>BAE SUZY</b> &middot;
        Copyrighted &copy; @DateTime.Today.Year
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="/js/app.js" asp-append-version="true"></script>
    @RenderSection("foot", false)
    @RenderSection("Scripts", required: false)
</body>
</html>
