

@model IEnumerable<WebApplication2.Models.MenuItem>
@using System.Globalization;
@foreach (var item in Model)
{
    <tr>
        <td><img src="/Images/@item.PhotoURL" style="width: 70px; height: 70px; object-fit: cover;" /></td>
        <td>@item.Name</td>
        <td>@item.Description</td>
        <td>@item.Category?.Name</td>
        <td>@item.Price.ToString("C", new CultureInfo("en-MY"))</td>
        <td>
            <a class="btn btn-sm btn-warning" href="@Url.Action("Edit", new { id = item.MenuItemId })">Edit</a>
            <a class="btn btn-sm btn-danger" href="@Url.Action("Delete", new { id = item.MenuItemId })">Delete</a>
            <a class="btn btn-sm btn-info" href="@Url.Action("Details", new { id = item.MenuItemId })">Details</a>
        </td>
    </tr>
}
