@model IEnumerable<WebApplication2.Models.MenuItem>
@using System.Globalization

@foreach (var item in Model)
{
    <tr>
        <td>
            <a href="/MenuItem/Details/@item.MenuItemId">
                <img src="/Images/@item.PhotoURL" alt="@item.Name" style="width: 70px; height: 70px; object-fit: cover;" />
            </a>
        </td>
        <td>@item.Name</td>
        <td>@item.Category?.Name</td>
        <td>@item.Price.ToString("C", new CultureInfo("en-MY"))</td>
        <td>
            <form asp-controller="Cart" asp-action="Add" method="post" class="add-to-cart-form">
                @Html.AntiForgeryToken()
                <input type="hidden" name="menuItemId" value="@item.MenuItemId" />
                <input type="number" name="quantity" value="1" min="1" max="100" style="width:60px;" class="form-control d-inline-block" />
                <button type="submit" class="btn btn-primary btn-sm mt-1">Add to Cart</button>
            </form>
        </td>
    </tr>
}
