@model IEnumerable<MenuItem>
@using System.Globalization
@using WebApplication2.Models;

@foreach (var item in Model)
{
    <tr>
        <td>
            <a asp-controller="MenuItem" asp-action="Details" asp-route-id="@item.MenuItemId">
                <img src="/Images/@(item.PhotoURL ?? "images/default.jpg")" alt="@item.Name" style="width:60px;height:60px;object-fit:cover;cursor:pointer;" />
            </a>
        </td>
        <td>@item.Name</td>
        <td>@item.Category?.Name</td>
        <td>@item.Price.ToString("C", new System.Globalization.CultureInfo("en-MY"))</td>
        <td>
            <form asp-controller="Cart" asp-action="Add" method="post" class="add-to-cart-form">
                @Html.AntiForgeryToken()
                <input type="hidden" name="menuItemId" value="@item.MenuItemId" />
                <input type="number" name="quantity" value="1" min="1" max="100" style="width:60px;" class="form-control d-inline-block" />
                <button type="submit" class="btn btn-primary btn-sm mt-1">Add to Cart</button>
            </form>
        </td>
    </tr>
}