@model List<WebApplication2.Models.MenuItem>
@using System.Globalization;

@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
        <tr>
            <td><img src="/Images/@item.PhotoURL" alt="@item.Name" style="width:70px; height:70px; object-fit:cover;"></td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Category?.Name</td> @* Use null-conditional operator for safety *@
            <td>@item.Price.ToString("C", new CultureInfo("en-MY"))</td>
            <td>
                <form asp-controller="Cart" asp-action="Add" method="post" class="add-to-cart-form" data-menu-item-id="@item.MenuItemId">
                    <input type="hidden" name="menuItemId" value="@item.MenuItemId" />
                    <input type="number" name="quantity" value="1" min="1" max="100" style="width:60px;" class="form-control d-inline-block" />
                    <button type="submit" class="btn btn-primary btn-sm mt-1">Add to Cart</button>
                </form>
            </td>
        </tr>
    }
}
else
{
    <tr><td colspan="6" class="text-center">No menu items found.</td></tr>
}